@page "/countries"

<h3 class="text-lg-center text-black">@Localizer["Countries"]</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">@Localizer["New"] @Localizer["Country"]</a>
</div>

<GenericList MyList="Countries">
    <Body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ">
                    <table class="table table-striped">
             <thead>
                <tr>
                    <th class="text-black text-lg-start">@Localizer["Country"]</th>
                    <th ># @Localizer["Teams"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                         <td class="text-center">
                           @country.TeamsCount
                         </td>

                        <td>
                            <a class="btn btn-warning" href="/countries/edit/@country.Id">@Localizer["Edit"]</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(country))>@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </Body>
</GenericList>
